# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.venv/
env/
.env/

# VS Code / PyCharm config files
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and outputs
*.log

# Mac OS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache files
.cache/
*.bak

# dotenv
.env

# pytest
.pytest_cache/

outputs/
